body {
	background-image: url("https://cdn.pixabay.com/photo/2016/09/26/09/10/binary-1695478_1280.jpg") ;
	 background-blend-mode: lighten;
}

#nav {
	position: fixed ;
	top: 0 ;
	left: 0 ;	
	width: 100% ;
	background-color: blue ; ;
	padding-top: 20px ;
	padding-bottom: 20px ;
}
a{
	color: white ;
}
a:hover {
    color: red;
}
.smooth {
	margin: 50px ;
	color: white;
	text-decoration: none;
	font-weight: bold ;
	font-family: "sans-serif", Helvetica, Trebuchet MS ;
}

#first{
	padding-top: 10% ;
	color: white;
	font-weight: bold;
	font-size: 20px;
	font-family: "sans-serif", Helvetica, Trebuchet MS ;
}

#name{
	padding-top: 2% ;
	color: white;
	font-weight: bold;
	font-size: 80px;
	font-family: "sans-serif", Helvetica, Trebuchet MS ;
}

#nocollege{
	padding-top: 2% ;
	color: red;
	font-weight: bold;
	font-size: 30px;
	font-style: italic;
	font-family: "sans-serif", Helvetica, Trebuchet MS ;
}
#college{
	padding-top: 2% ;
	color: white;
	font-weight: bold;
	font-size: 30px;
	font-family: "sans-serif", Helvetica, Trebuchet MS ;
}

#city{
	padding-top: 1.5% ;
	color: white;
	font-weight: bold;
	font-size: 23px;
	font-family: "sans-serif", Helvetica, Trebuchet MS ;
}
#interest{
	padding-top: 2% ;
	padding-bottom: 1.5% ;
	color: #FFA500;
	font-weight: bold;
	font-size: 23px;
	font-family: "sans-serif", Helvetica, Trebuchet MS ;
}
.course{
	padding-top: 2% ;
	text-decoration: none;
	margin: 50px ;
	color: white;
	font-weight: bold;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
}
#interest2{
	padding-top: 2% ;
	padding-bottom: 1.5% ;
	color: #FFA500;
	font-weight: bold;
	font-size: 23px;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
}
.extra{
	padding-top: 2% ;
	text-decoration: none;
	margin: 50px ;
	color: white;
	font-weight: bold;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
}

.heading{
	padding-top: 0.8% ;
	color: white;
	font-weight: bold;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: hidden;
	border-right-style: hidden;
	font-size: 60px;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
}
.under{
	padding-top: 1% ;
	padding-bottom: 1% ;
	text-decoration: none;
	color: black;
	font-weight: bold;
	border-top-style: solid;
	border-bottom-style: solid;
	border-radius: 25px ;
	border-left-style: solid;
	border-right-style: solid;
	background-color: yellow ;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
}
.coursetaken{
	padding-top: 2% ;
	text-decoration: none;
	margin: 30px ;
	color: white;
	font-weight: bold;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
}
.skill{
	padding-top: 1% ;
	padding-bottom: 1% ;
	text-decoration: none;
	color: black;
	font-weight: bold;
	border-top-style: solid;
	border-bottom-style: solid;
	border-radius: 25px ;
	border-left-style: solid;
	border-right-style: solid;
	background-color: yellow ;
	font-size: 30px;
	font-family: "sans-serif", Helvetica, Trebuchet MS ;
}
.myc{
	padding-top: 2% ;
	text-decoration: none;
	margin: 30px ;
	color: white;
	font-weight: bold;
	font-size: 30px;
	font-family: "sans-serif", Helvetica, Trebuchet MS ;
}
